html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Zapobiega przewijaniu */
    font-family: Arial, sans-serif; /* Ustawia czcionkę */
}

.background-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ustawia tło za inną zawartością */
}

.background-gif img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Utrzymuje proporcje obrazu */
}

.content {
    position: relative;
    z-index: 1; /* Ustawia zawartość nad tłem */
    color: white; /* Kolor tekstu, aby był czytelny na tle */
    text-align: center; /* Wyśrodkowuje tekst */
    padding: 20px; /* Odstęp dla treści */
}

nav ul {
    list-style-type: none; /* Usuwa punkty listy */
    padding: 0; /* Usuwa domyślne wypełnienie */
}

nav ul li {
    display: inline; /* Wyświetla elementy w jednym wierszu */
    margin: 0 15px; /* Odstęp między elementami */
}

nav a {
    color: white; /* Kolor linków */
    text-decoration: none; /* Usuwa podkreślenie */
}

nav a:hover {
    text-decoration: underline; /* Podkreślenie przy najechaniu */
}

/* Styles modal */
.modal {
    display: none; /* Ukrywa modal domyślnie */
    position: fixed;
    z-index: 10; /* Na wierzchu */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Włącza przewijanie */
    background-color: rgb(0,0,0); /* Czarny z przezroczystością */
    background-color: rgba(0,0,0,0.7); /* Ciemne tło */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Pozycjonuje w środku */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Szerokość modala */
}

.close-button {
    color: #aaa;
    float: right; /* Ustawia przycisk w prawym górnym rogu */
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black; /* Zmienia kolor na czarny przy najechaniu */
    text-decoration: none; /* Usuwa podkreślenie */
    cursor: pointer; /* Kursor wskazujący */
}
